parameters:
    level: 0
    paths:
        - app
        - routes
        - config
        - database

    excludePaths:
        analyse:
            - vendor
            - node_modules
            - storage
            - bootstrap/cache
